plans-list {
  .plan-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    align-self: auto;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .plan_date {
    text-align: center;
    flex: 0 1 auto;
    align-self: auto;
    background-color: map-get($colors, "primary");
    padding: 0.3em 1em;
    .plan_day {
      font-size: 3.5em;
      color: map-get($colors, "light");
      line-height: 1em;
    }
    .plan_month {
      font-size: 1.8em;
      line-height: 0.8em;
    }
  }
  .plan_card {
    display: flex;
    flex: 1 1 auto;
    border-bottom: 2px solid map-get($colors, "light");
    padding: 0.5em;
  }
}
