<ion-card no-padding>
  <ion-avatar>
    <img [src]="club.logo">
  </ion-avatar>
  <h2 text-center>  {{club.name}} </h2>
</ion-card>
<form #formClub="ngForm">
  <ion-list>

    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input [(ngModel)]="club.name" name="name" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Abreviatura</ion-label>
      <ion-input [(ngModel)]="club.abbreviation" name="abbreviation" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>email</ion-label>
      <ion-input [(ngModel)]="club.email" name="email" type="email" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefono</ion-label>
      <ion-input [(ngModel)]="club.phone" name="phone" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Ciudad</ion-label>
      <ion-input [(ngModel)]="club.town" name="town" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="mode=='add'">
      <ion-label floating>Puntos de encuentro</ion-label>
      <ion-textarea text-wrap value="Podrás añadir puntos de encuentro tras crear el club" name="meetingPoints" type="text" autocapitalize="off" disabled>
      </ion-textarea>
    </ion-item> -->
    <ion-item>
      <ion-list no-padding no-margin>
        <ion-list-header>
          <ion-icon item-end name="add" (click)="navToAddMeetingPoint()"></ion-icon>
          Puntos de encuentro
        </ion-list-header>

        <ion-item detail-push *ngFor="let meetingPoint of club.meetingPoints" (click)="navToEditMeetingPoint(meetingPoint)">
          {{meetingPoint.name}}
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-label floating>Coordenadas </ion-label>
      <ion-input [(ngModel)]="club.coordinates" name="coordinates" type="text" autocapitalize="off" required>
      </ion-input>
    </ion-item>
  </ion-list>
  <button ion-button type="submit" color="primary" [disabled]="!formClub.valid" [hidden]="formClub.pristine" block (click)="update()" *ngIf="mode=='edit'">
    Guardar
  </button>
  <button ion-button type="submit" color="primary" block (click)="add()" *ngIf="mode=='add'">
    Nuevo
    </button>
</form>