<ion-list *ngIf="routes;else spinner" no-padding no-margin>

  <!-- <ion-item *ngFor="let route of routes|async" detail-push (click)="emitRouteClick(route)" no-padding>
    <ion-grid>
      <ion-row>
        <ion-col col-3 text-center class="distance">
          <p>{{route.distance}}</p>
        </ion-col>
        <ion-col col-9>
          <strong>{{getRouteTypeDescription(route.categoryId)}}</strong><br> {{route.route}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> -->

  <ion-item class="route-item" *ngFor="let route of routes|async" detail-push (click)="emitRouteClick(route)" no-padding no-margin>
    <p class="distance">{{route.distance}}<small>km</small></p>
    <div class="route">
      <strong>{{getRouteTypeDescription(route.categoryId)}}</strong><br> {{route.route}}
    </div>
  </ion-item>

</ion-list>

<ng-template #spinner>
  <ion-spinner></ion-spinner>
</ng-template>